.user-message {
  margin-top: 15px;
  padding: 15px;
  font-size: 0.8em;
  text-align: center;
  color: black;
  border-radius: 4px;
}

.forgot-password-form {
  transform: translateY(-5vh);
  transition: 0.8s ease-in-out;
}

.forgot-password-form label {
  color: #573b8a;
  font-size: 1.8em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.app-container {
  overflow: hidden;
  height: 100%;
  background: inherit;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #beadfa, #e8e8e8, #beadfa);
  font-size: 1.2rem;
  font-family: "Jost", sans-serif;
}

.main {
  width: 80%;
  max-width: 400px;
  margin: auto;
  box-shadow: 5px 20px 50px #000;
  overflow: hidden;
}

label {
  color: #000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 60%;
  height: 20px;
  background: #fff;
  justify-content: center;
  display: flex;
  margin: 12px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 60%;
  height: 40px;
  margin: 25px auto;
  justify-content: center;
  display: block;
  color: #e8e8e8;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.error-message {
  color: red;
  font-size: 0.6rem;
  text-align: center;
}
.error-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
