<div class="app-container">
  <div class="main forgot-password-form">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
      <label for="email">Forgot Password</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Enter your email"
        required
      />

      <div
        class="error-container"
        *ngIf="
          forgotPasswordForm.get('email')?.touched &&
          forgotPasswordForm.get('email')?.errors
        "
      >
        <small
          class="error-message"
          *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
          >Email is required.</small
        >
        <small
          class="error-message"
          *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
          >Please enter a valid email.</small
        >
      </div>

      <div *ngIf="userMessage" class="user-message">
        {{ userMessage }}
      </div>

      <button type="submit" [disabled]="!forgotPasswordForm.valid">
        Reset Password
      </button>
    </form>
  </div>
</div>
