:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  0%,
  30%,
  70%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

body {
  background-color: rgb(10, 10, 10);
  display: grid;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

h1 {
  color: black;
  line-height: 1.2;
  font-family: "Rubik", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 5rem;
}

h1 > .magic {
  display: inline-block;
  position: relative;
  font-size: 5rem;
}

h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  animation: scale 3000ms ease-in-out infinite;
  display: block;
  height: var(--size);
  position: absolute;
  width: var(--size);
}

h1 > .magic > .magic-star > svg {
  animation: rotate 800ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1 > .magic > .magic-star > svg > path {
  fill: #673ab7;
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, #7b1fa2, #673ab7, #f48fb1, #7b1fa2);
  background-size: 200%;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
