.msg {
  display: flex;
  align-items: flex-end;
  
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;
}
.msg-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-family: Cursive;
  
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  background: #fdfdfd;
  margin-left: 5px;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background:#41e7b0;;
  border-bottom-right-radius: 0;
  margin-right: 10px;
  color: black;
  font-family: Cursive;
}
 