.register-book-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.button {
  float: left;
  overflow: hidden;
  color: #7986cb;
  min-width: 180px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
}

.button--inverted {
  color: #37474f;
  border-color: #37474f;
}
.button::before,
.button::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #7986cb;
  color: #e8e8e8;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--inverted::before,
.button--inverted::after {
  background: #9c85f0;
  color: #37474f;
}
.button::before {
  top: 0;
  padding-top: 1em;
}
.button::after {
  bottom: 0;
  line-height: 0;
}
.button > span {
  display: block;
  -webkit-transform: scale3d(0.2, 0.2, 1);
  transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
  -webkit-transition:
    -webkit-transform 0.3s,
    opacity 0.3s;
  transition:
    transform 0.3s,
    opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:hover::before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button:hover > span {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.button--round-l {
  border-radius: 40px;
}
.button--round-l.button--quidel::after {
  border-radius: 40px;
}

.button--text-thick {
  font-weight: 600;
}
.button--border-medium {
  border: 2px solid;
}
.button--antiman.button--border-medium::before {
  border-width: 2px;
}
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--size-s {
  font-size: 14px;
  background-color: #e8e8e8;
}
