.search-container {
  display: flex;
  align-items: center;
}

.search-wrapper {
  max-width: 500px;
  width: 100%;
}

.form-control {
  margin-top: 0;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
