<div class="app-container">
  <div class="main reset-password-form">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
      <label for="newPassword">Reset Password</label>
      <!-- New Password Input -->
      <input
        type="password"
        formControlName="newPassword"
        placeholder="New password"
        required
      />
      <div
        class="error-container"
        *ngIf="
          resetPasswordForm.get('newPassword')?.errors &&
          resetPasswordForm.get('newPassword')?.touched
        "
      >
        <!-- New Password Errors -->
        <small
          class="error-message"
          *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"
          >New password is required.</small
        >
        <small
          class="error-message"
          *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']"
          >Password must be at least 8 characters, including a number and a
          letter.</small
        >
      </div>

      <!-- Confirm New Password Input -->
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm new password"
        required
      />
      <div
        class="error-container"
        *ngIf="
          resetPasswordForm.errors?.['passwordMismatch'] &&
          resetPasswordForm.touched
        "
      >
        <!-- Confirm Password Errors -->
        <small class="error-message">Passwords must match.</small>
      </div>

      <!-- User Feedback Message (Success or General Error) -->
      <div
        *ngIf="userMessage"
        [ngClass]="{
          'user-message': true,
          'success-message': isSuccess,
          'error-message': !isSuccess
        }"
      >
        {{ userMessage }}
      </div>

      <button type="submit" [disabled]="!resetPasswordForm.valid">
        Change Password
      </button>
    </form>
  </div>
</div>
