body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.app-container {
  overflow: hidden;
  height: 100%;
  background: inherit;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #beadfa, #e8e8e8, #beadfa);
  font-size: 1.2rem;
  font-family: "Jost", sans-serif;
}

.main {
  width: 80%;
  max-width: 400px;
  margin: auto;
  box-shadow: 5px 20px 50px #000;
  overflow: hidden;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  color: #000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 60%;
  height: 20px;
  background: #fff;
  justify-content: center;
  display: flex;
  margin: 12px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 60%;
  height: 40px;
  margin: 25px auto;
  justify-content: center;
  display: block;
  color: #e8e8e8;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.user-message {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-message {
  background-color: #f8d7da;
  color: red;
  border: 1px solid #f5c6cb;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
}

.error-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
