html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #beadfa; /* Changed to the background color of the page */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: xx-large;
  color: black; /* Changed to the text color of the page */
  font-weight: bold;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input,
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-color: black; /* Changed to the text color of the page */
  background-color: #c4c4c4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #e0e0e0;
}

button {
  background-color: #020007;
  color: white;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #9c85f0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}
